In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import datetime

from sklearn import datasets
from sklearn.datasets import make_blobs
from sklearn.datasets import fetch_california_housing

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

**Загрузим модель машинного обучения для прогноза объема продаж.**

In [44]:
from joblib import load
regr = load('diploma_model.joblib')

**Загрузим признаки для проведения обучения и вычисления прогноза.**

In [45]:
train=pd.read_csv('C:/Program Files/PostgreSQL/15/data/supermarket_sales.csv', delimiter=',')
df=pd.DataFrame(train)

**Приведем признаки к формату, требуемому для проведения обучения на данной модели.**

In [46]:
df['month'] = pd.DatetimeIndex(df['Date']).month
df['weekday'] = pd.DatetimeIndex(df['Date']).weekday

In [47]:
df=df.drop(['Invoice ID', 'Date','Time', 'Rating','Branch', 'Tax 5%', 'Total', 'cogs','gross income', 'gross margin percentage'], axis=1)

In [48]:
y=df['Quantity']
X=df.drop('Quantity',axis=1)
Xpr=X

In [ ]:
X=pd.get_dummies(X)

**Проведем обучение.**

In [50]:
Xpr['Quantity_Predict'] = regr.predict(X)

In [51]:
Xpr.head()

,City,Customer type,Gender,Product line,Unit price,Payment,month,weekday,Quantity_Predict
0,Yangon,Member,Female,Health and beauty,74.69,Ewallet,1,5,5.637807
1,Naypyitaw,Normal,Female,Electronic accessories,15.28,Cash,3,4,5.483051
2,Yangon,Normal,Male,Home and lifestyle,46.33,Credit card,3,6,5.530327
3,Yangon,Member,Male,Health and beauty,58.22,Ewallet,1,6,5.621387
4,Yangon,Normal,Male,Sports and travel,86.31,Ewallet,2,4,5.379656

**Сохраним полученные значения прогнозных показателей для последующей загрузки в аналитику.**

In [52]:
Xpr.to_csv('C:/Program Files/PostgreSQL/15/data/Quantity_Predict.csv', index=False)